body{
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background:url("background.png");
	background-size: cover;
}
.box{
	background: rgba(0,0,0,.5);
	color:#fff;
	width: 320px;
	height: 420px;
	top: 10%;
	left: 50%;
	transform: translate(-50%  -50%);
	
	position: absolute;
	padding: 70px 30px;
}
.usrimg{
	width:300px;
	height: 300px;
	border-radius:50%;
	overflow: hidden;
	position: absolute;
	top: -5%;
	left: -230%;
	
    
	
	
}
h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	
}
.box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #FFFFFF;
	
}
.box input{
	width: 100%;
	margin-bottom: 20px;
}
.box input[type="text"],
.box input[type="password"]
{
	border: none;
	border-bottom: 1px solid #FFFFFF;
	background: transparent;
	outline: none;
	height: 40px;
	color: #FFFFFF;
	font-size: 16px;
}
::placeholder{
	color: rgba(255,255,255,.5);
}
	.box input[type="submit"]
	{
	   border: :none;
		outline: none;
		height: 40px;
		font-size: 18px;
		corsor: pointer;
		 border-radius: 20px;
	}
	a{
		text-decoration: none;
		color: #FFFFFF;
		
	}
	}
}
}
